#verifyCode {
    margin-right: 15px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border: solid 1px black;
    text-decoration: none;
    background-color: #27ae60;

    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

    color: white;
    font-weight: bolder;

    pointer-events: auto;
    cursor: pointer;

    max-height: 35px;
}

#verifyCode:hover {
    background-color: #2ecc71; /* Green */
}

#resetCode {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid 1px black;
    text-decoration: none;
    background-color: #c0392b;

    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

    color: white;
    font-weight: bolder;

    pointer-events: auto;
    cursor: pointer;

    max-height: 35px;
}

#resetCode:hover {
    background-color: #e74c3c; /* Green */
}