#editorHeader {
    width: 100%;
    height: 38px;
    flex: 0 0 auto;

    background-color: #2a3034;
    border-bottom: solid 1px #0b0e10;

    display: flex;
    flex-flow: row nowrap;
}

#editorHeader  > * {
    flex: 1 0 auto;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-flow: row nowrap;
}

#leftEditorHeader  {
    flex-basis: 0px;
    padding-left: 20px;

    justify-content: flex-start;
}

#centerEditorHeader {
    flex-basis: 0px;
    padding-left: 20px;
    padding-right: 20px;

    justify-content: center;
}

#rightEditorHeader  {
    flex-basis: 0px;
    padding-right: 20px;

    justify-content: flex-end;
}