#terminalBorder {
    width: 35vw;
    height: 35vh;

    border: solid 1px #0b0f11;

    position: absolute;
    right: 20px;
    bottom: 131px;

    z-index: 301;

    display: flex;
    flex-flow: column nowrap;

    background:rgba(0,0,0,0.1);

    padding: 10px;
}

#terminalPadding {
    padding: 10px;

    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

#terminal {
    flex: 1 0 auto;
    opacity: 1.0;

    font-family: "Courier New";
    color: white;
    font-size: 16px;

    background-color: #17171a;

    padding: 10px
}

@media screen and (max-width: 900px) {
    #terminalBorder {
        display: none !important;
    }
}

/* VC Markers Colors */
.vc_unverified{
    box-sizing: border-box;
    position:absolute;
    background: #3498db;
    opacity: 0.3;
}

.vc_proved{
    box-sizing: border-box;
    position:absolute;
    background: #2ecc71;
    opacity: 0.3;
}

.vc_failed{
    box-sizing: border-box;
    position:absolute;
    background: #e74c3c;
    opacity: 0.3;
}