#editorFooter {
    width: 100%;
    height: 59px;
    flex: 0 0 auto;

    background-color: #2a3034;
    border-top: solid 1px #0b0e10;

    display: flex;
    flex-flow: row nowrap;
}

#editorFooter > * {
    /* Sizing Properties */
    flex: 1 0 0;

    /* Positioning Properties */
    margin-top: auto;
    margin-bottom: auto;

    /* Content Properties */
    display: flex;
    flex-flow: row nowrap;
}

#leftEditorFooter {
    margin-left: 16px;

    justify-content: flex-start;
}