div {
    overflow: auto;
}

td {
    overflow: auto;
}

#create, #teach {
    height: 100%;
}

#create {
    float: right;
    width: 70%;
}

#teach {
    float: left;
    width: 30%;
}

#dialog-message {
	padding-top: 25px;
	padding-bottom: 25px;
}