div {
    overflow: auto;
}

td {
    overflow: auto;
}

#right, #left {
    height: 100%;
}

#right {
    float: right;
    width: 70%;
}

#left {
    float: left;
    width: 30%;
}

#dialog-message {
	padding-top: 25px;
	padding-bottom: 25px;
}
