#lessonButton {
    /* Sizing Properties */
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;

    /* Display Properties */
    font-family: Arial;
    font-size: 16px;
    color: white;
    background-color: #152b39;
    border: none;
    text-decoration: none;

    /* Cursor Properties */
    pointer-events: auto;
    cursor: pointer;

    /* Transition Properties */
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

#lessonButton:hover {
    background-color: #0b161d;
}

#lessonButton:focus {
    outline: none;
}