#right .header, #right .footer {
    background: #7BA3C9;
    border: 6px solid steelblue;
}

#right .headette, #right .footette, #right .footetteDisabled {
    background: darkseagreen;
    border-left: 6px solid steelblue;
    border-right: 6px solid steelblue;
}

#editor {
    width: 100%;

    box-sizing: border-box;
    border: 6px solid steelblue;
}

#right table {
    text-align: center;
    vertical-align: middle;

    font-family: "Courier New";
    color: ghostwhite;
    font-weight: bolder;
    font-size: 16pt;
}

#right .footer table {
    font-size: 12pt;
}

#right .footette:hover, #right .headette.button:hover {
    background: #5FA473;
    cursor: pointer;
}

#right .footetteDisabled {
    background: #559060;
}

#right .footetteDisabled table {
    color: #68B080;
}

/* VC Markers Colors */
.vc_proved{
    box-sizing: border-box;
    position:absolute;
    background: lightgreen;
    opacity: 0.3;
    pointer-events: auto;
    z-index:5000;
}

.vc_proved:hover{
    background: green;
    opacity: 0.3;
}

.vc_failed{
    box-sizing: border-box;
    position:absolute;
    background: palevioletred;
    opacity: 0.3;
    pointer-events: auto;
    z-index:5000;
}

.vc_failed:hover{
    background: red;
    opacity: 0.3;
}
