#logo, #language, #login, #signUp {
    /* Display Properties */
    font-family: Arial;
    color: white;
    font-size: 16px;
}

#login, #signUp {
    /* Display Properties */
    padding: 5px 16px;
    border: solid 1px black;
    text-decoration: none;

    /* Transition Properties */
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

    /* Cursor Properties */
    pointer-events: auto;
    cursor: pointer;
}

#login {
    /* Positioning Properties */
    margin-right: 16px;

    /* Display Properties */
    background-color: #27ae60;
}

#login:hover {
    background-color: #2ecc71; /* Green */
}

#signUp {
    background-color: #2980b9;
}

#signUp:hover {
    background-color: #3498db; /* Green */
}