/*
 * These are the CSS for the BeginToReason Admin Pages
 * Created by: Yu-Shan Sun
 * Last Modified: 10/20/2017
 */

/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
	/* Leaving space for footer */
    margin-bottom: 60px;
}

/* Header-Related CSS */
#page-header {
	min-height: 60px;
	background-color: #522D80;
}

#page-header .nav-link {
	color: #D4C99E;
}

#page-header .nav-link:hover {
	color: #FFFFFF;
}

/* Sidebar-Related CSS */
#page-sidebar {
	position: relative;
	top: 0px;
	bottom: 60px;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: hidden; /* No overflow on the x axis */
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#page-sidebar-nav {
	margin-bottom: 20px;
}

#page-sidebar-nav .nav-link {
	margin-bottom: 5px;
	color: #522D80;
	background-color: #F6F6F6;
	border-left: 0.2em solid #522D80;
	border-right: 0.2em solid #522D80;
}

#page-sidebar-nav .nav-link:hover {
	background-color: #FFFFFF;
	color: #F66733;
	border-left: 0.5em solid #F66733;
	border-right: 0.5em solid #F66733;
	transition: all 300ms ease-in-out;
}

/* Sidebar-Related Media Query */
@media (min-width: 768px) {
	/* Set the max-width/height and draw a right border when screen size is md up */
	#page-sidebar {
		height: calc(100vh - 120px);
		max-width: 270px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

	/* Make sure we display the navigation */
	#page-sidebar-nav {
    	display: block !important;
    }
}

@media (max-width: 768px) {
	/* Draw a bottom border when it is less than md */
	#page-sidebar {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}

/* Overview-Page CSS */
.overview-card {
	width: 300px;
}

/* Footer-Related CSS */
#page-footer {
	/* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #3A4958;
    opacity: 0.75;
}