#packageName {
    flex: 1 0 0;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: black;
}

#learningObjectiveTitle, #problemStatementTitle {
    font-size: 16px;
    font-family: Arial;

    margin-left: 16px;
    margin-right: 16px;
}

#learningObjective, #problemStatement {
    font-size: 14px;
    font-family: Arial;

    margin-left: 16px;
    margin-right: 16px;
}