html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: 0;
}

div {
    overflow: hidden;
}

#header.create , #footer.create {
    width: 100%;
    height: 70px;

    background: #7BA3C9;

    box-sizing: border-box;
    border: 6px solid steelblue;
}

#headette.create, #footette.create, #footette.createDisabled {
    width: 100%;
    height: 35px;

    background: darkseagreen;

    box-sizing: border-box;
    border-left: 6px solid steelblue;
    border-right: 6px solid steelblue;
}

#editor.create {
    width: 100%;

    box-sizing: border-box;
    border: 6px solid steelblue;
}

#header.create table,
#headette.create table,
#footette.create table,
#footette.createDisabled table {
    text-align: center;
    vertical-align: middle;

    font-family: "Courier New";
    color: ghostwhite;
    font-weight: bolder;
    font-size: 16pt;
}

#footer.create table {
    text-align: center;
    vertical-align: middle;

    font-family: "Courier New";
    color: ghostwhite;
    font-weight: bolder;
    font-size: 12pt;
}

#footette.create:hover {
    background: #5FA473;
    cursor: pointer;
}

#header.create:hover {
    background: #6193BF;
}

#footette.createDisabled {
    background: #559060;
}

#footette.createDisabled table {
    color: #68B080;
}

/* VC Markers Colors */
.vc_unverified{
    box-sizing: border-box;
    position:absolute;
    background: orange;
    opacity: 0.3;
    pointer-events: auto;
//    cursor: pointer;
    z-index:5000;
}

.vc_unverified:hover{
    background: darkorange;
    opacity: 0.3;
}

.vc_proved{
    box-sizing: border-box;
    position:absolute;
    background: lightgreen;
    opacity: 0.3;
    pointer-events: auto;
//    cursor: pointer;
    z-index:5000;
}

.vc_proved:hover{
    background: green;
    opacity: 0.3;
}

.vc_failed{
    box-sizing: border-box;
    position:absolute;
    background: palevioletred;
    opacity: 0.3;
    pointer-events: auto;
//    cursor: pointer;
    z-index:5000;
}

.vc_failed:hover{
    background: red;
    opacity: 0.3;
}
